*{margin: 0;padding: 0;}
body
{
	overflow-x: hidden;
}
/*--variabel --*/
$header-color: #6381e4;
$opensans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$black:#000;
/*--mixin  */

/*---------------------------index-------------------*/
.title
{
	font-family: $opensans !important;
	font-size: 30px !important;
	color: #4A4A4A;
}
.sub-title
{
	font-family: $opensans !important;
	font-size: 16px !important;
	color: #4A4A4A;
}
.pharagrapt
{
	font-family: $opensans !important;
	font-size: 15px !important;
	color: #4A4A4A;
	line-height: 1.6;
}
.identified
{
	font-family: $opensans !important;
	font-size: 16px !important;
	color: #4A4A4A;
	font-weight: normal;
	line-height: 1.6;
}
.active
{
	border-bottom: 2px solid black !important;
}
.navbar 
{

	button
	{
		float: right;
		position: relative;
		.icon-bar
		{
			color: $black;
			background: $black;
			border-color: $black;
		}
	}
}

nav
{
	position: fixed;

	ul
	{
		li
		{
			border-bottom: 2px solid transparent;

			a
			{
				font-family: $opensans;
				color: #575757;
				font-weight: bold;
				text-decoration: none !important;
				background: transparent !important;
				padding-bottom: 10px !important;
			}
			a:hover
			{
				font-family: $opensans;
				color: #7D7D7D;
				font-weight: bold;
				background: transparent !important;
				text-decoration: none;
				padding-bottom: 10px !important;
			}

		}
	}
}

.banner
{
	width: 100%;
	padding: 200px 0;

	.banner-title
	{
		font-family: $roboto;
		font-size: 48px;
		padding: 0 !important;
		margin: 0 !important;
	}
	.banner-sub-title
	{
		font-family: $roboto;
		font-size: 16px;
	}
	.skills
	{
		img
		{
			float: right !important;
		}
	}
img
{
top:0 !important;
bottom: 0 !important;
left: 0 !important;
right: 0 !important;
display: flex;
margin-top: -80px;
min-width: 300px !important;
}

} 
.content
{
	background: #FDFDFD;
   padding:40px 0 ; 
}
.content02
{
	background: #ffffff;
	padding:40px 0 ; 
}

#about img
{
	width: 100% !important;
	margin: 0 auto;
	display: flex;

}

.image
{
	background: #2E2E2E;
	overflow: hidden;
	height: 70px;
	width: 70px;
	display: inline-block;
	border-radius: 100%;
	display: flex;
	margin: auto;
	margin-top: 10%;
	vertical-align: middle;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	img
	{
		width: 70%;
		height: 70%;
		display: flex;
		align-items: center;
		margin: auto;
		margin-top: 15%;
		vertical-align: middle;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}


.hoverr:hover
{
	position: absolute;
	top: 5px;
	left: 5px;
	right: -50px;
	bottom: 5px;
	vertical-align: middle;
	margin: 0;
	padding: 50px;
	width: 100%;
	box-sizing: border-box;
	overflow:hidden;
	height: 100%;
	background: rgba(0,0,0,.3);
	align-items: center;
	float: none;
	display: flex;
	opacity: 1;
	transition: .3s ease-in-out;

	i
	{
		
	}
}



.hoverr
{
	position: absolute;
	top: 5px;
	left: 5px;
	right: -50px;
	bottom: 5px;
	vertical-align: middle;
	margin: 0;
	padding: 50px;
	width: 100%;
	box-sizing: border-box;
	overflow:hidden;
	height: 100%;
	background: rgba(0,0,0,.3);
	align-items: center;
	float: none;
	display: flex;
	opacity: 0;
	transition: .3s ease-in-out;

	/*    ppp  */

.btn0
{
	position: absolute;
	top: 5px;
	left: 5px;
	right: -50px;
	bottom: 5px;
	background: transparent;
	vertical-align: middle;
	margin: 0 auto;
	align-items: center;
	float: none;
	margin: 0 40%;
	overflow:hidden;
	opacity: 1;
	display: flex;
	box-sizing: border-box !important;

	.btn{ 
		
		display: block;
		background: transparent;
	i
	{
		font-size: 40px;
		cursor: pointer;
		display: block;
		color: #fff !important;
	}	
 }

	
}
}


.indentified-title
{

	font-size: 22px;
	font-family: $opensans;
}
.space-block
{
	height: 1px;
	width: 100%;
	background:#F2F2F2;
}

.content-modal
{
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	vertical-align: middle;
	margin: 0 auto;
	align-items: center;
	display: flex;
	text-align: center;
	float: none;

	img
	{
		position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	vertical-align: middle;
	margin: 0 auto;
	align-items: center;
	display: flex;
	text-align: center;
	float: none;	
	}
}

/*------------------------scrool funbction-------------------------*/
#navbar
{
background: #fff !important;
width: 100%;
height: auto;
position: fixed;
padding: 5px 0;
margin-top: 0 !important;
z-index: 9999;
display: block;

}
.scrool
{
box-shadow: 0 0 4px rgba(0,0,0,.2);
background: #fff !important;
width: 100%;
height: auto;
transition: .3s ease-in-out;
padding: 5px 0;
}
.event
{
box-shadow: 0 0 7px rgba(0,0,0,.0);
background: #fff !important;
width: 100%;
height: auto;
padding: 5px 0;
transition: .3s ease-in-out;
}
/*------------------------progresbar-------------------------*/
.progress
{
border-radius: 0 !important;
background: #C8C8C8 !important;
height: 10px !important;
}
.progress-bar 
{
border-radius: 0 !important;
background: #111!important;
height: 10px !important;
}

.form-control ,  .button-submit
{
	border-radius: 0 !important;
	margin-top: 20px !important;
	background: #F2F2F2 !important;
	outline: 0 !important;
}

#email
{
		border:1px !important;
		border-style: solid !important;
		border-color:#C9C9C9 !important;
}



.form-control:focus
{
	box-shadow: none !important;
	outline: 0 !important;
}
.btn-primary  
{
	background: #1A1A1A !important;
	border-radius: 0 !important;
	border: 0 !important;
	transition: .1s ease-in-out;
}
.btn-primary:hover 
{
	background: #FDFDFD !important;
	border-radius: 0 !important;
	border: 0 !important;
	color: #1A1A1A !important;
	transition: .1s ease-in-out;

}


.footer
{
	padding: 10px 0;
	
	.center
	{
		float: right;

	a
	{
		text-decoration: none;
		i
		{
			color: #858585;
			font-size: 25px;
			padding: 0 5px;
			transition: .3s ease-in-out;
		}
		i:hover
		{
			color: #3B3B3B;
			transition: .3s ease-in-out;
			font-size: 25px;
			padding: 0 5px;
		}
	}


		

	}

	p
	{
		font-family: $opensans;
		font-size: 14px;
		padding: 5px 0 0 0;
		color: 666666;
	}
}

.portofolio
{
	padding-bottom: 150px !important;

	ul
	{
		li
		{
			list-style: none;

			.portfolio_item
			{

			}
		}
	}

}


/*---loading-*/
 #loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
  z-index: 9999999999999999999;
  box-sizing: border-box;
  	padding:10%;

  .load-a
  {
  	top: 30%;
  	vertical-align: middle;
  	left: 0;
  	position:absolute;
  	right: 0;
  	background: transparent;
  	bottom: 0;
  	align-content: center;
  	display: flex;
  	margin: 0 auto;
  	width: 150px;
  	border: 5px solid  transparent;
  	border-radius: 100%;
  	height: 150px;
  	border-left: 5px solid #636363;
  	box-sizing: border-box;
  	padding:10px;
  	-webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;


.load-b
  {

  	 top: 0%;
  	vertical-align: middle;
  	left: 0;
  	position:absolute;
  	right: 0;
  	background: transparent;
  	bottom: 0;
  	align-content: center;
  	display: flex;
  	margin: 0 auto;
  	width: 100%;
  	border: 5px solid transparent;
  	border-radius: 100%;
  	height: 100%;
  	border-left: 5px solid #636363;
  	box-sizing: border-box;
  	padding:20px;
  	-webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  	.load-c
  {
  	 top: 0%;
  	vertical-align: middle;
  	left: 0;
  	position:absolute;
  	right: 0;
  	background: transparent;
  	bottom: 0;
  	align-content: center;
  	display: flex;
  	margin: 0 auto;
  	width: 100%;
  	border: 5px solid  transparent;
  	border-radius: 100%;
  	height: 100%;
  	border-left: 5px solid #636363;
  	box-sizing: border-box;
  	padding:10px;
  	-webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;


    	.load-d
  {
  	 top: 0%;
  	vertical-align: middle;
  	left: 0;
  	position:absolute;
  	right: 0;
  	background: transparent;
  	bottom: 0;
  	align-content: center;
  	display: flex;
  	margin: 0 auto;
  	width: 100%;
  	border: 5px solid  transparent;
  	border-radius: 100%;
  	height: 100%;
  	border-left: 5px solid #636363;
  	box-sizing: border-box;
  	padding:10px;
  	-webkit-animation: spin 6s linear infinite;
  animation: spin 6s linear infinite;
  }
  }
  }
  }

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}


/*--scroltopbutton----*/

.myBtn {
  display: none;
  position: fixed;
  bottom: 35px;
  right: 0px;
  margin-bottom:20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #545454;
  color: white;
  cursor: pointer;
  margin-right: -10px;
  padding: 10px 15px;
  border-radius: 5px 0px 0px 5px;
  color: #fff;
  transition: .1s ease-in-out;
}

.myBtn:hover {
  background-color: #000;
   transition: .1s ease-in-out;
   margin-right: 0px;

}


/*----------masonry layout------------------*/

.col-01 , .col-02 , .col-03 , .col-04 , .col-05 , .col-06 , .col-07 , .col-08 , .col-09 , .col-10
{
	box-sizing: border-box !important;
	padding: 5px !important; 
	position: relative !important;
	margin: 0 !important;
	overflow:hidden !important;

	img
	{
		width: 100% !important;
	}
}
.col-08 , .col-09 , .col-10
{
	position: relative !important;
	margin-top: -289px !important;
}


/*----------query-------------------*/

@media screen and(max-width: 1199px)
{
	.col-01 , .col-02 , .col-03 ,  .col-04 , .col-05 , .col-06 , .col-07 , .col-08 , .col-09 , .col-10
	{
		margin: 0 !important;

	}

	.col-10
	{
		margin-top: -325px !important;
	}
} 
@media screen and (max-width: 1024px)
{
	.col-01 , .col-02 , .col-03 ,  .col-04 , .col-05 , .col-06 , .col-07 , .col-08 , .col-09 , .col-10
	{
		margin: 0 !important ;

	}

	.col-10
	{
		margin-top: -325px !important;
	}
}
@media screen and (max-width: 991px)
{
	.image-profile
	{
		padding-top: 30px;
		width: 100%;
		img
		{
			width: 100%;
		}
	}
}


@media screen and (max-width: 826px)
{
	.col-01 , .col-02 , .col-03 ,  .col-04 , .col-05 , .col-06 , .col-07 , .col-08 , .col-09 , .col-10
	{
		margin: 0 !important ;

	}

	.col-10
	{
		margin-top: -255px !important;
	}
}


@media screen and (max-width: 768px)
{
	.col-01 , .col-02 , .col-03 ,  .col-04 , .col-05 , .col-06 , .col-07 , .col-08 , .col-09 , .col-10
	{
		margin: 0 !important ;

	}

	.col-10
	{
		margin-top: -255px !important;
	}
}

@media screen and (max-width: 767px)
{

.image-profile
	{
		padding-top: 30px;
		width: 100%;
		float: none;
		left: 0;
		top: 0;
		right:0;
		bottom: o;
		margin: 0 auto;
	}

	.col-01 , .col-02 , .col-03 ,  .col-04 , .col-05 , .col-06 , .col-07 , .col-08 , .col-09 , .col-10
	{
		margin: 0 !important ;

	}

	.banner-title-position

{
	margin-left: -10%;
}
		#navbar
		{
		background: #fff !important;
		width: 100%;
		height: auto;
		padding: 5px 0;
		z-index: 0;
		background: #fff;
		position: absolute;
		z-index: 9;
	}
		.scrool
		{
		box-shadow: 0 0 2px rgba(0,0,0,.0);
		}

		.active
		{
			border-bottom: 1px solid rgba(0,0,0,.1) !important;
		}
		
	.navbar
	{
		position: absolute;
		width: 100%;
		background:#ffffff;


		ul
		{
			margin-top: 0px;
			box-sizing: border-box;
			padding: 0 20px;
			width: 100%;
			position: relative !important;
			background:#ffffff;
			padding-bottom: 30px;

			li
			{
				border-bottom: 1px solid rgba(0,0,0,.1) ;
			}


			
		}

		}



	.banner
	{
	width: 100%;
	padding: 150px 0;
		img
		{
			display: none;
		}
	}
	.skills
	{
		img
		{
			display: none;
		}
	}

	.icon-center
	{
		float: none !important;
		margin: 0 auto;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		display: flex;
		width: 100%;

	}




.footer
{
	padding: 10px 0;
	
	.center
	{
		float: none;
		margin: 0 auto;
		margin-left: 40%;
		width: 100%;

	a
	{
		text-decoration: none;
		i
		{
			color: #858585;
			font-size: 25px;
			padding: 0 5px;
			transition: 1s ease-in-out;
		}
		
	}


			a:hover
			{
				color: #666;
				transition: 1s ease-in-out;
				font-size: 25px;
				padding: 0 0px;
			}

		}

	p
	{
		font-family: $opensans;
		font-size: 14px;
		text-align: center;
		margin-left: 0%;
		padding: 5px 0 0 0;
		color: 666666;
	}
}

}


@media screen and(max-width: 760px)
{
	.banner
	{
	width: 100%;
	padding: 150px 0;
}
	.banner-title-position
{
	margin-left: -20%;
}

h2
{
	font-size: 30px;
}
}

@media screen and(max-width: 515px)
{
	.banner-title-position
{
	margin-left: 0;
}
}
@media screen and(max-width: 230px)
{
	.banner-title-position
{
	margin-left: -110;
}
}




